<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>FlexStudio - Добавить занятие</title>
</head>
<body>
<div class="container mt-5" th:fragment="content">
    <h1 class="text-center">Добавить занятие</h1>
    <div class="card mt-4">
        <div class="card-header text-center">Форма добавления занятия</div>
        <div class="card-body">
            <form action="/trainings/add" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Название</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="dateTime" class="form-label">Дата и время</label>
                    <input type="datetime-local" class="form-control" id="dateTime" name="dateTime" required>
                </div>
                <button type="submit" class="btn btn-success">Добавить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>