<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
  <title>FlexStudio - Оплата</title>
</head>
<body th:fragment="content">
<div class="container mt-5">
  <h1 class="text-center">Оплата</h1>
  <div class="card mt-4">
    <div class="card-header text-center">Введите данные для оплаты</div>
    <div class="card-body">
      <form action="/subscriptions/pay" method="post">
        <div class="mb-3">
          <label for="cardNumber" class="form-label">Номер карты</label>
          <input type="text" class="form-control" id="cardNumber" name="cardNumber" required>
        </div>
        <div class="mb-3">
          <label for="expiryDate" class="form-label">Дата действия</label>
          <input type="text" class="form-control" id="expiryDate" name="expiryDate" placeholder="MM/YY" required>
        </div>
        <div class="mb-3">
          <label for="cvv" class="form-label">CVV код</label>
          <input type="password" class="form-control" id="cvv" name="cvv" required>
        </div>
        <button type="submit" class="btn btn-success">Оплатить</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>