<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>FlexStudio - Заявки</title>
</head>
<body th:fragment="content">
<div class="container mt-5">
    <div class="card">
        <div class="card-header">Мои заявки</div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>№ заявки</th>
                    <th>Тренировка</th>
                    <th>Дата</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="request, iterStat : ${requests}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${request.trainingTitle}"></td>
                    <td th:text="${request.trainingDateTime}"></td>
                    <td th:text="${request.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
