<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexStudio - Подписки</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">FlexStudio</a>
    </div>
</nav>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">Подписки</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="subscription : ${subscriptions}">
                    <h4 th:text="${subscription.name}"></h4>
                    <p th:text="${subscription.description}"></p>
                    <p><strong>Цена:</strong> <span th:text="${subscription.price} + ' ₽'"></span></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
