<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>FlexStudio - Подписки</title>]
</head>
<body th:fragment="content">
<div class="container mt-5">
    <h1 class="text-center">Подписки</h1>
    <div class="card mt-4">
        <div class="card-header text-center">Доступные подписки</div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subscription : ${subscriptions}">
                    <td th:text="${subscription.name}"></td>
                    <td th:text="${subscription.description}"></td>
                    <td th:text="${subscription.price}"></td>
                    <td>
                        <form action="/subscriptions/subscribe" method="post">
                            <input type="hidden" name="subscriptionId" th:value="${subscription.id}">
                            <button type="submit" class="btn btn-primary">Оформить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>