<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>FlexStudio - Тренировки</title>
</head>
<body th:fragment="content">
<div class="container mt-5">
    <h1 class="text-center">Тренировки</h1>
    <div class="text-end mb-4" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/trainings/add" class="btn btn-success">Добавить занятие</a>
    </div>
    <div class="mt-4">
        <h2>Предстоящие тренировки</h2>
        <ul class="list-group">
            <li class="list-group-item" th:each="training : ${upcomingTrainings}">
                <h4 th:text="${training.title}"></h4>
                <p><strong>Дата:</strong> <span th:text="${#temporals.format(training.dateTime, dateFormats.dateTimeFormat)}"></span></p>
                <form th:action="@{/requests/create(trainingId=${training.id})}" method="post" sec:authorize="!hasRole('ROLE_ADMIN')">
                    <button type="submit" class="btn btn-primary btn-sm">Записаться</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="mt-4">
        <h2>Прошедшие тренировки</h2>
        <ul class="list-group">
            <li class="list-group-item" th:each="training : ${pastTrainings}">
                <h4 th:text="${training.title}"></h4>
                <p><strong>Дата:</strong> <span th:text="${#temporals.format(training.dateTime, dateFormats.dateTimeFormat)}"></span></p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>