<!DOCTYPE html>
<html  th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
  <title>FlexStudio - Пользователи</title>
</head>
<body th:fragment="content">
<div class="container mt-5">
  <div class="card">
    <div class="card-header">Пользователи</div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Имя</th>
          <th>Email</th>
          <th>Роли</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.firstName + ' ' + user.lastName}"></td>
          <td th:text="${user.email}"></td>
          <td>
            <span th:each="role : ${user.roles}" th:text="${role.name}" th:remove="tag"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
